@import url("bootstrap.min.css");
@import url("myCss.css");

header {
  background-color: #81afea;
}

header h1{
    margin:0px;
    font-size: 25px;
}


body {
  background-color: #81afea;
}

footer{
    background-color:black ;
    color: white;

    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}



#Creadores{
    margin-left: 25%;
    width: 100%;
}
#Creadores p{
    color: white;
}

.fab{
    color: white;
  }


#navbar {
  float: right;
  padding-right: 20px;
}

h2 {
  margin-top: 50px;
  text-align: center;
}

hr {
  width: 70%;
  margin-bottom: 50px;
}

/* CAROUSEL CSS */
#carousel {
  height: 70% !important;
  width: 70% !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  left: 0;
  right: 0;
  background: rgb(199, 199, 199);
}

h5, p {
  color: black;
  background: rgba(87, 87, 87, 0.322);
}

h5 {
  margin-top: 20px;
}

#carousel span {
  background-color: grey;
  color: black;
}

.imgCarousel {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: rgb(179, 179, 179);
  /* position: relative; */
  /* margin-bottom: 150px; */
}

.imgCarousel img {
  flex-grow: 0 !important;
  padding-top: 20px;
  text-align: center;
  height: 50px;
  width: 300px;
}

/* .txtCarousel {*/
  /* position: relative; */
/*} */

/************
BIDEOAK
*************/
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
    
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/*
COLORES:
AZUL1:#81AFEA
AZUL2:#4C71A1
AZUL3:#2b4970
AZUL4:#13263F
AZUL5:#03080E
MOREA1:#9E86EC
MOREA2:#6752A8
MOREA3:#403075
MOREA4:#201642
MOREA5:#06040E
BERDEA1:#78ECB7
BERDEA2:#47A97D
BERDEA3:#277552
BERDEA4:#10422B
BERDEA5:#020E09
*/

