@import url("bootstrap.min.css");
@import url("myCss.css");

header {
  background-color: #81afea;
}

header h1{
    margin:0px;
    font-size: 25px;
}


body {
  background-color: #81afea;
}

footer{
    background-color:black ;
    float: bottom;
    color: white;
    padding-bottom: 1rem!important;
}

#Creadores ul{
 
}
#Creadores{
    margin-left: 25%;
    width: 100%;
}
#Creadores p{
    color: white;
}

.fab{
    color: white;
  }


#navbar {
    float: right;
    padding-right: 20px;
}


/* CAROUSEL CSS */
#carousel {
    height: 70% !important;
    width: 70% !important;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    left: 0;
    right: 0;
    background: rgb(199, 199, 199);
}

#carousel img {
    padding-top: 20px;
    height: auto;
    width: auto;
    text-align: center;
}

h5, p {
    color: black;
    background: rgba(87, 87, 87, 0.322);
}

#carousel span {
    background-color: grey;
    color: black;    
}

.imgCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
}





/*
COLORES:
AZUL1:#81AFEA
AZUL2:#4C71A1
AZUL3:#2b4970
AZUL4:#13263F
AZUL5:#03080E
MOREA1:#9E86EC
MOREA2:#6752A8
MOREA3:#403075
MOREA4:#201642
MOREA5:#06040E
BERDEA1:#78ECB7
BERDEA2:#47A97D
BERDEA3:#277552
BERDEA4:#10422B
BERDEA5:#020E09
*/

